{% extends "base.html" %}
{% block title %}Scenario - Fly By Night Fares - DevOps{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('ui.static', filename='css/devops.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('ui.static', filename='js/devops.js') }}"></script>
    <script>
    var landingWindow = 'http://fbn-web-2140330064.us-west-1.elb.amazonaws.com/';
    var pulseWindow = 'https://pulse.truesight.bmc.com/8392/%2BFBN%20Web%20Response%20Time';
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Fly By Night Fares - DevOps In Action</h2>
        <h3>The Scenario</h3>
        <p>I am a <em>Site Reliability Engineer</em> (SRE) for Fly By Night Fares. We guarantee the cheapest airfares around
            as long as you fly at night! My core responsibility is ensuring that users of <em>Fly By Night Fares</em>
            can find the lowest fares anytime, even when they are flying...at night.</p>
        <p><span class="text-primary">Fly By Night</span> employs a LAMP stack in the Amazon Cloud to service requests
            to search for the lowest airfare
            of any of the travel services as long as you...em….uh...<span class="text-info">FLY AT NIGHT</span>.
        </p>

        <img id="arch-diagram" src="{{ url_for('ui.static', filename='img/arch.png') }}"/>
        <p>
            Fly By Night Fares is a startup new to the online travel industry and so launched with a minimal viable
            product or MVP. We use a DevOps methodology to minimize the time between code commit and deployment
            into production. Our developers are constantly making changes and rolling them in coordination
            with the SRE team. This act is known <em>continuous deployment</em> and is the new norm in web infrastructure
            environments like Fly By Night Fares.
        </p>
        <p>
            Because we move so quickly and our market changes so rapidly, we don’t rely solely on testing to
            tell us whether our code is solid. We do code reviews, unit test, smoke tests and load testing
            in staging. But we don’t assume that means code will work in production.
        </p>
        <p>
            We use <span class="text-success">TrueSight Pulse</span>, a SaaS monitoring tool that works at the same
            pace as Fly By Night Fares with the ability to provide second-by-second updates on the
            health of the Fly By Night Fares infrastructure during deployments.
        </p>

        <h3>The Demo</h3>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#step_1">Step 1 - Deploy Change to a
                            Single Node</a>
                    </h4>
                </div>
                <div id="step_1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The FBN developer has create a fixed to speed up the loading of the landing page to fly by
                            night fares
                            and wants to see the effects on the live site. Using TrueSight Pulse we can observe directly
                            the before
                            and after performance of the page loading.
                        </p>
                    </div>
                    <div class="panel-body">
                        <a onclick="launchApplication(landingWindow,'landing')">
                            Landing page that requires a change to speed up response
                        </a>
                    </div>
                    <div class="panel-body">
                        <a onclick="launchApplication(pulseWindow,'pulse')">
                            Observe the current page response time in TrueSight Pulse
                        </a>
                    </div>
                    <div class="panel-body">
                        <button id="bad_page_to_host" type="button" class="btn btn-primary btn-sm">Deploy Code Change
                        </button>
                    </div>
                    <div class="panel-body">
                        <a onclick="launchApplication(pulseWindow,'pulse')">
                            Observe the new page response time in TrueSight Pulse
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>The code change deployed actually increased the page response time. We need to rollback the
                            change
                            until we can revise the change.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#step_2">Step 2 - Revert Code
                            Change</a>
                    </h4>
                </div>
                <div id="step_2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p> The code change deployed in the previous step was not up to par and worse then the previous
                            version. Let's revert to the previous <strong>known good version</strong>.
                        </p>
                    </div>
                    <div class="panel-body">
                        <button id="revert_bad_page_to_host" type="button" class="btn btn-primary btn-sm">
                            Revert Change
                        </button>
                    </div>
                    <div class="panel-body">
                        <a onclick="launchApplication(pulseWindow,'pulse')">
                            Observe the new page response time in TrueSight Pulse with the reverted change.
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#step_3">Step 3 - Revise Code
                            Change</a>
                    </h4>
                </div>
                <div id="step_3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Developer reviews the code along with data collected from TrueSight Pulse to find the issue
                            with the code change that is suppose to increase performance. Developer revises the code
                            change
                            to get the correct performance behavior</p>
                    </div>
                    <div class="panel-body">
                        <button id="fix_bad_page" type="button" class="btn btn-primary btn-sm">Revise Code</button>
                        <div class="progress">
                            <div id="code-fix-progress" class="progress-bar" role="progressbar"
                                 aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <span class="sr-only">0%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#step_4">Step 4 - Deploy Revised Code
                            Change</a>
                    </h4>
                </div>
                <div id="step_4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>With the code change revised and validate for enhanced response time we can perform a
                            deployment
                            to one of our production nodes</p>
                    </div>
                    <div class="panel-body">
                        <button id="improved_page_to_host" type="button" class="btn btn-primary btn-sm">
                            Deploy Revised Code Change
                        </button>
                    </div>
                    <div class="panel-body">
                        <a onclick="launchApplication(pulseWindow,'pulse')">
                            Observe the new page response time in TrueSight Pulse with the revised change.
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#step_5">
                            Step 5 - Deploy to Code Change to All Nodes</a>
                    </h4>
                </div>
                <div id="step_5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>With the code now fixed and validated on our production node we can now deploy to the rest
                            of the nodes in our system.</p>
                    </div>
                    <div class="panel-body">
                        <button id="improved_page_to_all_hosts" type="button" class="btn btn-primary btn-sm">
                            Deploy Code Change to All Nodes
                        </button>
                    </div>
                    <div class="panel-body">
                        <a onclick="launchApplication(pulseWindow,'pulse')">
                            Observe the new page response time in TrueSight Pulse with the revised change.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
