{% extends "base.html" %}
{% block title %}Scenarios{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('ui.static', filename='css/scenarios.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('ui.static', filename='js/scenarios.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Scenarios</h2>
        <ul id="control">
            <li>
                <form method="get" action="{{ url_for('ui.scenario_devops', _external=False) }}">
                <button type="submit" class="btn btn-primary">Fly By Night Fares - DevOps In Action</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
