/*
#code-fix-progress-display {
   visibility: hidden;
}
*/
/*
#code-fix-btn {
   float: left;
}
*/
/*
#code-fix-progress-display {
    float: right;
}
*/


#arch-diagram {
    width: 600px;
    height: 350px;
}


